body {
    background-color: #e4e5e6;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
#map {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.leaflet-control-attribution {
    display: none !important;
}
#chat {
    position: absolute;
    bottom: 70px; /* Positionné juste au-dessus du bouton bot avec une marge inférieure */
    right: 20px;
    width: 300px;
    max-height: 50vh;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}
#chat.show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}
#chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}
.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 20px;
    max-width: 80%;
    word-wrap: break-word;
    display: inline-block;
    clear: both;
}
.message.user {
    background-color: #3498db; /* Bleu */
    color: white;
    align-self: flex-end;
    float: right;
}
.message.bot {
    background-color: #e4e5e6;
    color: #333;
    align-self: flex-start;
    float: left;
}
.message.error {
    background-color: #f44336; /* Rouge */
    color: white;
}
#chat-input-container {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Déplace légèrement vers la gauche */
}
#chat input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#chat input:focus {
    outline: none;
    border-color: #87CEFA;
}
#record-button {
    background: none;
    border: none;
    color: #777; /* Gris foncé */
    cursor: pointer;
    margin-left: 10px;
    font-size: 24px; /* Agrandir légèrement */
}
#record-button.recording {
    color: #f44336; /* Rouge */
}
#sidebar-toggle {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #391f54; /* Violet */
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: all 0.3s ease-in-out;
}
#sidebar-toggle i {
    font-size: 20px;
}
@media (max-width: 600px) {
    #chat {
        max-width: calc(100% - 40px);
        padding: 10px;
        margin-bottom: 10px;
    }
    #chat-messages {
        margin-bottom: 5px;
    }
    .message {
        padding: 8px;
    }
    #sidebar-toggle {
        bottom: 10px;
        right: 10px;
        padding: 8px;
    }
    #sidebar-toggle i {
        font-size: 18px;
    }
}
